<div class="container row">
    <div class="col-12">

        <h4> User Detail </h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">email</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ userDetail.name }}
                    </td>
                    <td>
                        {{ userDetail.email }}
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>